#app {
  display: flex;
}

.result {
  width: 300px;
  height: 580px;
  border: 2px solid gray;
  flex-grow: 0;
  flex-shrink: 0;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
}

.dragg {
  width: 150px;
  height: 290px;
  background-size: cover;
  margin: 4px;
}

.dragg:hover {
  border: 2px solid gold;
}

.result .dragg {
  width: 300px;
  height: 580px;
  margin: 0;
}

.result .dragg:hover {
  width: 300px;
  height: 580px;
  margin: 0;
  border: 0;
}

#red1 {
  background-image: url("assets/img_talqueado.png");
}

#red2 {
  background-image: url("assets/img_aretes.png");
}

#red3 {
  background-image: url("assets/img_blusa_b.png");
}
#red4 {
  background-image: url("assets/img_faja.png");
}

#red5 {
  background-image: url("assets/img_fuste_fuxia.png");
}

#red6 {
  background-image: url("assets/img_manta.png");
}
#red7 {
  background-image: url("assets/img_mujer.png");
}

#red8 {
  background-image: url("assets/img_sombrero_vicuna.png");
}

#red9 {
  background-image: url("assets/img_zapatos_negros.png");
}

